mvp_env
django_fulcrum_env
assets/*
*.sqlite*
fulcrum_data/*
fulcrum/*
.idea
*.pyc
mvp_app/*
temp.json
local_settings.py
celery.log
celerybeat.pid
celerybeat-schedule
test.json
local_settings.py
mvp/*
clear_fm_db.sh
!django_fulcrum/scripts/settings.py
media/
data/
django_fulcrum/tests/test_geojson.json
build/
init.py*
manage.py
*~
*.egg-info
*.djcache
dist